{% extends "base.html" %}


{% block app_content %}
      <h3>Personnel Information</h3>
      <form action="" method="post">
      {{form.hidden_tag()}}   
        <p>
            {{ form.Name.label }}<br>
            {{ form.Name(size=32) }}<br>
        </p>
        <p>
            {{ form.Job.label }}<br>
            {{ form.Job(size=32) }}<br>
        </p>
        <p>
            {{ form.Difficulty.label }}<br>
            {{ form.Difficulty(size=32) }}<br>
        </p>
        <p>
            {{ form.Expected_Hours.label }}<br>
            {{ form.Expected_Hours(size=32) }}<br>
        </p>
        <p>
            {{ form.Start_Date.label }}<br>
            {{ form.Start_Date(size=32) }}<br>
        </p>
        <p>
            {{ form.End_Date.label }}<br>
            {{ form.End_Date(size=32) }}<br>
        </p>
        <p>
            {{ form.Days_Given.label }}<br>
            {{ form.Days_Given(size=32) }}<br>
        </p>
         <p>
            {{ form.Req_person.label }}<br>
            {{ form.Req_person(size=32) }}<br>
        </p>
        <p>
            {{ form.Priority_Person.label }}<br>
            {{ form.Priority_Person(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
     </form>
{% endblock %}