{% extends "base.html" %}


{% block app_content %}
      <h3>Engagement Information</h3>
      <form action="" method="post">
      {{form.hidden_tag()}}   
        <p>
            {{ form.Name.label }}<br>
            {{ form.Name(size=32) }}<br>
        </p>
        <p>
            {{ form.Job.label }}<br>
            {{ form.Job(size=32) }}<br>
        </p>
        <p>
            {{ form.Hours.label }}<br>
            {{ form.Hours(size=32) }}<br>
        </p>
        <p>
            {{ form.Start_Date.label }}<br>
            {{ form.Start_Date(size=32) }}<br>
        </p>
        <p>
            {{ form.End_Date.label }}<br>
            {{ form.End_Date(size=32) }}<br>
        </p>
         <p>
            {{ form.Requirement.label }}<br>
            {{ form.Requirement(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
     </form>
{% endblock %}