{% extends "base.html" %}
{% block app_content %}
      <table class="table table-hover" border = 1>
         <thead>
            <td>id/td>
            <td>Name</td>
            <td>Position</td>
            <td>Easy_Jobs</td>
            <td>Medium_Jobs</td>
            <td>Difficult_Jobs</td>
            <td>Engagement Lists</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["name"]}}</td>
               <td> {{ row["position"]}}</td>
               <td>{{row['diff_1']}}</td>
               <td>{{row["diff_2"]}}</td>
               <td>{{row["diff_3"]}}</td>
               <td> {{ row["engagement_lists"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>
{% endblock %}
