{% extends "base.html" %}
{% block app_content %}
      <table class="table table-hover" border = 1>
         <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Job Type</td>
            <td>Difficulty</td>
            <td>Hours</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Deadline</td>
            <td>Requirements</td>
            <td>Personnel List</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["name"]}}</td>
               <td> {{ row["jobtype"]}}</td>
               <td>{{row['difficulty']}}</td>
               <td>{{row["hours"]}}</td>
               <td>{{row["startdate"]}}</td>
               <td> {{ row["enddate"]}}</td>
               <td>{{row['deadline']}}</td>
               <td>{{row["requirement"]}}</td>
               <td> {{ row["personnel_list"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>
{% endblock %}
