{% extends "base.html" %}
{% block app_content %}
      <table class="table table-hover" border = 1>
         <thead>
            <td>Name</td>
            <td>Position</td>
            <td>Tier</td>
            <td>Engagements</td>
            <td>Easy_Jobs</td>
            <td>Medium_Jobs</td>
            <td>Difficult_Jobs</td>
            <td>Employed</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["Name"]}}</td>
               <td>{{row["Position"]}}</td>
               <td> {{ row["Tier"]}}</td>
               <td>{{row['Engagements']}}</td>
               <td>{{row["Easy_Jobs"]}}</td>
               <td>{{row["Medium_Jobs"]}}</td>
               <td> {{ row["Difficult_Jobs"]}}</td>
               <td>{{row['Employed']}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>
{% endblock %}
